* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-principal:'Poppins', sans-serif;
    --main-color:#363c45;
    --btn-color:#8b6357;
    --btn-body-color-:#36B2B0;
    --bg-color:#EFF2F5;
    --font-color:#FFFFFF;
}
/* Principal */
body {
    background-color: var(--bg-color);
}
main {
    display: flex;
    
    justify-content: center;
}
#bg-main{
    width: 87vw;
    height: 160vh;
    background-color: var(--main-color);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 25vw;
    padding-left: 5vw;
    gap: 3vw;
}
main h1 { 
    font-family: var(--font-principal);
    font-weight: 800;
    font-size: 6vw;
    color: var(--font-color);
    animation: up 3s;
}
main p {
    font-family: var(--font-principal);
    font-weight: 300;
    font-size: 1.7vw;
    color: var(--font-color);
    animation: up 6s;
}
main button {
    width: 10vw;
    height: 3.5vw;
    border-radius: 2vw;
    border-style: none;
    background-color: var(--btn-body-color-);
    font-family: var(--font-principal);
    font-size: 1.3vw;
    font-weight: 300;
    color: var(--font-color);
    animation: down 4s;
}
main button:hover {
    opacity: 0.9;
}
/* Apresentação */
#presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--font-color);
    padding: 10vw;
}
#bg-presentation {
    width: 50vw;
    height: 75vh;
    padding: 4vw;
    gap: 1vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background-color: var(--btn-color);
}
#bg-presentation h4 {
    font-family: var(--font-principal);
    color: var(--font-color);
    font-size: 4vw;
}
#bg-presentation p {
    font-family: var(--font-principal);
    color: var(--font-color);
    font-size: 2.5vh;
    line-height: 5vh;
}
#presentation #bg-presentation,h4,p {
    animation: fade 4s;
}